@use "../abstracts/" as *;

.buttonS{
    @include buttonStyle;
    width: 150px;
    margin:10px 10px 10px 0px;
    
}

.buttonM{
    @include buttonStyle;  
    width: 220px;
}

.buttonC{
    @include buttonStyle;  
    width: 50px;
    margin: 0px 10px;
}
