@use "../abstracts/" as *;

.carousel{
  @include flexCenter(column);
  padding: 20px 0 70px 0;
  position: relative;
  
}

.swiper {
  width: 100%;
  padding: 10px 0;

  img{
    width: 85%;
    
  }
}

.swiperDetails {
  width: 50%;
  padding: 20px 0;
  @include md {
    width: 100%;
  }
}

.swiper-slide {
  @include flexCenter(column);
}

.projectTools {
  @include flexSBetween;

  @include mbl{
    .buttonM{
      width: 100%;
    }
  }
}

.projectControls {
  @include flexCenter;
  @include mbl{
    width: 120%;
    position: absolute;
    top: 110px;
    left: -35px;
    z-index: 10;
    @include flexSBetween;
    .buttonC{
      background: $sandColor;
    }
  }

}

