@use "../abstracts/" as *;

.navbar{
    @include flexSBetween;
    z-index: 20;
    box-sizing: border-box;
    font-family: "Nostrav";
    position: fixed;
    width: 100%;
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color:$sandColor;
    left:0;
    padding: 0 30px;

    @include mbl{
        @include flexStart(column);
    }
}


