@use "../abstracts/" as *;

.skills {
  padding: 20px 0px;

}

.Languages{
    color: $orangeColor;
}

.Frameworks\/.Libraries {
    color: $greenColor;
}

.Additional.Tool{
    color: $blueColor
}


.skillCard {
  @include flexEvenly;
  text-align: left;
  flex-wrap: wrap;
  padding: 100px 0;

  @include mbl{
    padding: 50px 0;
  }
}

.skillAnimation {
  width: 300px;
  background-color: white;
  height: 300px;
  @include flexCenter;
  border-radius: 500px;

}

.skillInfo {
width: clamp(300px, 50vw, 45%);
padding: 0 40px;

@include tab{
  width: 100%;
}

  ul {
    column-count: 2;
    column-gap: 10px;
  }

  li{
    padding: 10px 0px;
  }
}
