@use "../abstracts/" as *;

.skills {
  padding: 20px 0px;

}

.Languages{
    color: $orangeColor;
}

.Frameworks\/Libraries {
    color: $greenColor;
}


.Additional.Tool{
    color: $blueColor
}

.skillCard {
  @include flexEvenly;
  text-align: left;
  flex-wrap: wrap;
  padding: 100px 0;
}

.skillAnimation {
  width: 300px;
  background-color: white;
  height: 300px;
  @include flexCenter;
  border-radius: 500px;
}

.skillInfo {
width: 40%;

  ul {
    width: 100%;
    column-count: 2;
    column-gap: 20px;
  }

  li{
    padding: 10px;
  }
}
