@font-face{
    font-family:"Nostrav";
    src: url(Nostrav.ttf);
}

@font-face{
    font-family:"Mori";
    font-weight: 200;
    src: url(PPMori-Extralight.otf);
}

@font-face{
    font-family:"Mori";
    font-weight: 400;
    src: url(PPMori-Regular.otf);
}

@font-face{
    font-family:"Mori";
    font-weight: 600;
    src: url(PPMori-SemiBold.otf);
}

@font-face{
    font-family:"Galactica";
    src: url(Galacticagrid-8Mr7J.ttf);
}

@font-face{
    font-family:"Nicholia";
    src: url(Nicholia.ttf);
}

@font-face{
    font-family:"Lemonmilk";
    src: url(LEMONMILK-Regular.otf);
}
.navbar{
    h1{
        font-size: 35px;
    }
}

h1{
    font-size: 25px
}

h2{
    font-size: 30px;
    font-weight:600;
}

h3{font-size: 25px;}

.nostrav{
    font-family: "Nostrav"
}

.galactica{
    font-family: "Galactica";
}

.nicholia{
    font-family: "Nicholia";
    font-size: 45px;
}

.lemonmilk{
    font-family: "Lemonmilk";
}