@use "breakpoints";

@mixin flexCenter($flexDirection: row){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
}

@mixin flexStart($flexDirection: row){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexEvenly{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexSBetween{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@mixin buttonStyle{
    @include flexCenter;
    background-color: transparent;
    border: solid gray 0.5px;
    border-radius: 25px;
    height: 50px;
    cursor: pointer;

    &:hover{
        background-color: rgb(47, 47, 47);
        color: white;
        border-color: rgb(47, 47, 47); 
    }
    
}

@mixin md{
    @media(max-width: breakpoints.$screen-md){
        @content;
    }
}

@mixin lg{
    @media(max-width: breakpoints.$screen-lg){
        @content;
    }
}

@mixin mbl{
    @media(max-width: breakpoints.$mobile-lg){
        @content;
    }
}

@mixin tab{
    @media(max-width: breakpoints.$tablet){
        @content;
    }
}

@mixin custom($pixel){
    @media(max-width: $pixel){
        @content;
    }
}

