@use "../abstracts/" as *;

.about{
    @include flexCenter;
    padding-top: 70px;
}

.aboutInfo{
    width: 50%;
    
    h2, p{
        padding-right: 60px;
    }
}

.aboutImage{
    display: flex;
    justify-content: flex-end;
    width:50%;
    
    img{
        border-radius: 15px;
        width:65%;
    }
}