@use "../abstracts/" as *;

.about{
    @include flexCenter;
    height: 100vh;
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding: 0px 5%;

    @include tab{
        flex-direction: column;
        height: 100%;
        padding-top: 70px;
    }
}

.aboutInfo{
    width: 50%;

    @include tab{
       width: 100%;
    }
    
}

.aboutImage{
    display: flex;
    justify-content: flex-end;
    width:50%;

   
    
    img{
        border-radius: 15px;
        width:65%;
    }

    @include tab{
        width: 100%;

        img{
            width: 100%;
        }
     }
     
}