@use "../abstracts/" as *;

.hackdavis{
    
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding:90px 5% 1px 5%;
    
}

.hackGreen{
    background-color: #69CF72;
}

.hackPink{
    background-color: #E57575;
}