@use "../abstracts/" as *;


.home{
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding: 0px 5%;
    padding-top: 90px;
}

.aboutButtons{
    display: flex;
}



.contact{
    @include flexEvenly;
    padding: 50px 0px;
    

    @include custom(600px){
        @include flexCenter(column);
    }
}

.movingText{
    @include flexCenter;
    position: relative;
    
    
    h1{
       
        font-family:"Nostrav";
    }

    .airplane{
        position: absolute;
        top: 0;
        left: 0px;
    }
}



