@use "../abstracts/" as *;


.aboutButtons{
    display: flex;
}

.skillContainer{
    @include flexEvenly;
    text-align: left;
}

.skillInfo{
    width: 50%;
    
}

.contact{
    @include flexEvenly;
    padding: 50px 0px;
}

.movingText{
    @include flexCenter;
}

