@use "../abstracts/" as *;

.intro{
    padding: 20px 0;
    padding-top: 70px;
}

.aboutButtons{
    display: flex;
}

.skills{
    padding: 20px 0px;
}

.skillContainer{
    @include flexEvenly;
    text-align: left;
}

.skillInfo{
    width: 50%;

    ul{
        column-count: 2;
        column-gap: 20px;
    }
    
}

.languages{
    color: $orangeColor;
}

.frameworks{
    color: $greenColor;
}

.tools{
    color: $blueColor;
}

.projects{
    @include flexCenter(column);
    padding: 20px 0 70px 0;
    
}



.projectDetails{
    width: 50%;
    padding: 20px 0;
}

.projectItem1{
    height: 300px;
    background-color: rgb(228, 136, 136);
    border-radius: 15px;
}
.projectItem2{
    height: 300px;

    background-color: rgb(69, 116, 226);
    border-radius: 15px;
}
.projectItem3{
    height: 300px;
    background-color: rgb(226, 184, 69);
    border-radius: 15px;
}

.projectTools{
    @include flexSBetween;
}

.projectControls{
    @include flexCenter;
}

.swiper{
    width: 100%;
    height: 100%;  
}

.swiper-slide{
    text-align: center;
    @include flexCenter;
    position:relative;
    overflow:hidden;
}


.swiper-slide {
    position: relative;
    width: var(--swiper-width);
    opacity: .5;
    transform: scale(.84);
    transition: all .3s ease-in-out;
    overflow: hidden;
  }
  
  .swiper-backface-hidden .swiper-slide {
    transform: scale(.84) translateZ(0);
  }
          
  .swiper-slide.swiper-slide-active {   
    transform: scaleX(1) !important;
    opacity: 1 !important;
  }



.contact{
    @include flexEvenly;
    padding: 50px 0px;
}

.movingText{
    @include flexCenter;
    
    h1{
       
        font-family:"Nostrav";
    }
}

