@use "../abstracts/" as *;

.instagram{
    background: url("../assets/backgroundnoise.png") repeat;
    background-color: $sandColor;
    padding:90px 5% 1px 5%;
}

.instaBlue{
    background-color: #515BD4;
    color: white;
}

.instaPurple{
    background-color: #8134AF;
    color: white;
}

.instaMagenta{
    background-color: #DD2A7B;
    color: white;
}
.instaYellow{
    background-color: #FEDA77;
}
.instaOrange{
    background-color: #F58529;
}

.fbBlue{
    background-color: #316FF6;
    color: white;
}