@use "../abstracts/" as *;

.mathship{
    padding-top: 90px;
}

.mathshipImgCont{
    @include flexCenter;
}

.mathshipHome{
    border-radius: 15px;
    width: 100%;
}

.mathshipImg{
    border-radius: 15px;
}

