@use "../abstracts/" as *;

.mathship{
    padding-top: 90px;
}

.mathshipImgCont{
    @include flexCenter;
}

.mathshipHome{
    border-radius: 15px;
    width: 100%;
}

.mathshipImg{
    border-radius: 15px;

    @include custom(560px){
        width: 100%;
    }
}

.mathOrange{
    background-color: #F09E41;
}

.mathRed{
    background-color: #E93333;
}

.mathLGreen{
    background-color: #83BF95;
}

.mathDGreen{
    background-color: #2C654E;
}

