@use "../abstracts/" as *;

.mathship{
    
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding:90px 5% 1px 5%;
}

.mathshipImgCont{
    @include flexCenter;
}

.mathshipHome{
    border-radius: 15px;
    width: 100%;
}

.mathshipImg{
    border-radius: 15px;
    width: 100%;
}

.mathOrange{
    background-color: #F09E41;
}

.mathRed{
    background-color: #E93333;
}

.mathLGreen{
    background-color: #83BF95;
}

.mathDGreen{
    background-color: #2C654E;
}

