@use "../abstracts/" as *;

.maui{
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding:90px 5% 1px 5%;

}

.projectImg{
    width: 100%;
    border-radius: 15px;
    box-shadow: none !important;
}

.mauiTurq{
    background-color: #11DFF0;
}

.mauiGray{
    background-color: #F1F0F0;
}

.mauiTan{
    background-color: #CF9E3E;
}

.mauiPink{
    background-color: #F0B099;
}

.mauiBlue{
    background-color: #5B668B;
}



