@use "../abstracts/" as *;

.maui{
    padding-top: 90px;
}

.mauiTurq{
    background-color: #11DFF0;
}

.mauiGray{
    background-color: #F1F0F0;
}

.mauiTan{
    background-color: #CF9E3E;
}

.mauiPink{
    background-color: #F0B099;
}

.mauiBlue{
    background-color: #5B668B;
}



