@use "../abstracts/" as *;

.portfolio{
    
    background: url('https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png') repeat;
    background-color: $sandColor;
    padding:90px 5% 1px 5%;
}

.sandColor{
    background-color: $sandColor;
}

.orangeColor{
    background-color: $orangeColor;
}

.blueColor{
    background-color: $blueColor;
}

.greenColor{
    background-color: $greenColor;
}

.pinkColor{
    background-color: $pinkColor;
}

.whiteColor{
    background-color: $whiteColor;
}

.redColor{
    background-color: $redColor;
}

.yellowColor{
    background-color: $yellowColor;
}


.blackColor{
    color: white;
    position: absolute;
    font-size: 10px;
    top: 0px;
    left: 10px;
}