@use "../abstracts/" as *;


.projectPage{
    padding-top: 90px;
}

.projectContainer{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
        margin: 10px;
        border-radius: 15px;
    }
}