@use "../abstracts/" as *;


.projectPage{
  background: url("../assets/backgroundnoise.png") repeat;
    background-color: $sandColor;
    padding: 0px 5%;
    
}

.projectIntro{
  height: 100vh;
  @include flexCenter;
  overflow: hidden;
}

.projectHeader{
  overflow: hidden;
  h2{
    transform: translateY(100px);
    opacity: 0;
  }
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCard {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;

  img {
    border-radius: 15px;
    width: 100%;
  }

  @include tab{
    width: 100%;
  }

}

.credit{
  text-decoration: underline;
}

.credit:hover {
  color: $redColor;
}

.colorsContainer{
  position: relative;
  background-color: black;
  padding: 50px;
  border-radius: 15px;
}

.colors{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}