@use "../abstracts/" as *;


.projectPage{
    padding-top: 90px;
}

.projectContainer{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
        border-radius: 15px;
    }
}

.credit{
    text-decoration: underline;
}

.credit:hover{
    color: $redColor;
}