@use "../abstracts/" as *;

.spartanpantry{
    padding-top: 90px;
}

.projectOverview{
    width: 50%;
}

.features{
    @include flexEvenly;
}

.featureItem{
    
    @include flexCenter(column);
    width: 33.3%;
    height: 100%;
    padding: 0 10px;
}

.pantryhome{
    width: 100%;
    border-radius: 15px;
    margin: 10px 0;
}


.tempImage{
    width: 100%;
    height: 700px;
    background-color: white;
    margin: 50px 0px;
    border-radius: 15px;
}

.modelInfo{
    width: 40%;
}

.modelImgCont{
    @include flexCenter;
    background-color: white;
    border-radius: 15px;
    padding-top: 70px; 
}

.modelImg{
    width: 75%;
}


.pantryBlue{
    background-color: #0067A7;
    color: white;
}

.pantryYellow{
    background-color: #D99800;
}


.arial{
    font-family: "Arial"
}