@use "abstracts";
@use "components";
@use "pages";

body{
    font-family: 'Montserrat', sans-serif;
    background-color: abstracts.$sandColor;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  