@charset "UTF-8";
@font-face {
  font-family: "Nostrav";
  src: url(Nostrav.ttf);
}
@font-face {
  font-family: "Mori";
  font-weight: 200;
  src: url(PPMori-Extralight.otf);
}
@font-face {
  font-family: "Mori";
  font-weight: 400;
  src: url(PPMori-Regular.otf);
}
@font-face {
  font-family: "Mori";
  font-weight: 600;
  src: url(PPMori-SemiBold.otf);
}
@font-face {
  font-family: "Mori";
  font-style: italic;
  src: url(PPMori-SemiBoldItalic.otf);
}
@font-face {
  font-family: "Galactica";
  src: url(Galacticagrid-8Mr7J.ttf);
}
@font-face {
  font-family: "Nicholia";
  src: url(Nicholia.ttf);
}
@font-face {
  font-family: "Lemonmilk";
  src: url(LEMONMILK-Regular.otf);
}
.navbar h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}
@media (max-width: 425px) {
  .navbar h1 {
    margin: 8px 0;
  }
}

h2 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h3 {
  font-size: clamp(2rem, 3.5vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

p {
  font-size: clamp(1rem, 1.3vw, 1.8rem);
}

.skills li {
  font-size: clamp(1rem, 1.6vw, 2.5rem);
}

h2.nostrav {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 600;
}

.nostrav {
  font-family: "Nostrav";
}

.galactica {
  font-family: "Galactica";
}

.nicholia {
  font-family: "Nicholia";
  font-size: 45px;
}

.lemonmilk {
  font-family: "Lemonmilk";
}

.bold {
  font-weight: bold;
}

.buttonS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: solid gray 0.5px;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  width: clamp(150px, 10vw, 250px);
  margin: 10px 10px 10px 0px;
}
.buttonS:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.buttonM {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: solid gray 0.5px;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  width: 220px;
}
.buttonM:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.buttonC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: solid gray 0.5px;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  width: 50px;
  margin: 0px 10px;
}
.buttonC:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.contactButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: solid gray 0.5px;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  width: 25%;
}
.contactButton:hover {
  background-color: black;
  color: white;
  border-color: black;
}
@media (max-width: 600px) {
  .contactButton {
    width: 100%;
    margin: 10px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  box-sizing: border-box;
  font-family: "Nostrav";
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  left: 0;
  padding: 0px 5%;
  flex-wrap: wrap;
}

.pageControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.featuresCont {
  display: flex;
}
@media (max-width: 768px) {
  .featuresCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.featureCard {
  width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}
.featureCard p {
  min-height: 50px;
}
.featureCard img {
  width: 100%;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .featureCard {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.projectDetails {
  width: 50%;
}
@media (max-width: 768px) {
  .projectDetails {
    width: 100%;
  }
}

.projectButtons {
  display: flex;
}
.projectButtons .buttonS {
  width: 50%;
}

.skills {
  padding: 20px 0px;
}

.languages {
  color: #EA8118;
}

.frameworks {
  color: #40A250;
}

.tools {
  color: #2E75BC;
}

.skillCard {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 60px 0;
}
.skillCard h3 {
  width: 55%;
  margin: 0;
  padding: 0;
}
.skillCard ul {
  box-sizing: border-box;
  width: 45%;
  margin: 0;
  padding-left: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skillCard ul li {
  box-sizing: border-box;
  border-bottom: 0.5px solid black;
  padding: 15px 40px;
  width: 100%;
}
.skillCard ul li::before {
  content: "✦";
  margin-right: 0.5em;
}
.skillCard ul li:last-of-type {
  border-bottom: 0;
}
@media (max-width: 800px) {
  .skillCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .skillCard h3 {
    width: 100%;
  }
  .skillCard ul {
    width: 100%;
    padding: 50px 0;
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 70px 0;
  position: relative;
}

.swiper {
  width: 100%;
  padding: 10px 0;
}
.swiper img {
  width: 100%;
}

.swiperDetails {
  width: 50%;
  padding: 20px 0;
}
@media (max-width: 800px) {
  .swiperDetails {
    width: 100%;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectTools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .projectTools .buttonM {
    width: 100%;
  }
}

.projectControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .projectControls {
    width: 100%;
    position: absolute;
    top: 110px;
    left: -15px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projectControls .buttonC {
    background: #FAF7EF;
  }
}

.transitionCont {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 30;
  left: 0;
  top: -1000px;
}

.rect {
  width: 20%;
  height: 100vh;
  background-color: #E5A1EA;
}

.marquee {
  position: relative;
  font-family: "Nostrav";
  overflow: hidden;
  display: flex;
  align-items: center;
}
.marquee h2 {
  margin: 5px 0;
}

.marqText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.marqText h2 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.home {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 0px 5%;
  padding-top: 90px;
  overflow-x: hidden;
}
.home h1 {
  font-size: clamp(3rem, 8vw, 12rem);
  text-align: center;
}

.intro {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro p {
  font-size: clamp(1.3rem, 2vw, 3rem);
  padding: 0 10px;
}
.intro .line {
  display: inline-block;
  overflow: hidden;
}
.intro .line span {
  display: inline-block;
  transform: translateY(-150px);
}

.gradText {
  transform: translateY(-150px);
  background: linear-gradient(90deg, rgb(220, 71, 71) 0%, rgb(234, 129, 24) 50%, rgb(230, 208, 65) 100%);
  padding: 5px;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutButtons {
  display: flex;
}
.aboutButtons :hover {
  color: #2E75BC;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
.contact .rotating {
  margin: 0;
}
.contact .contactText, .contact .changingText {
  font-size: 12px;
}
.contact .contactText {
  margin-top: 60px;
  color: #DC4747;
}
@media (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contact .contactButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 70px 5% 1px 5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    height: 100%;
    padding-top: 90px;
  }
}
.about p {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

.aboutInfo {
  width: 45%;
}
@media (max-width: 768px) {
  .aboutInfo {
    width: 100%;
  }
}

.emoji,
.angela {
  display: inline-block;
}

.aboutImage {
  display: flex;
  justify-content: flex-end;
  width: 55%;
}
.aboutImage img {
  border-radius: 15px;
  width: 65%;
}
@media (max-width: 768px) {
  .aboutImage {
    width: 100%;
  }
  .aboutImage img {
    width: 100%;
  }
}

.projectPage {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 0px 5%;
}

.projectIntro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projectHeader {
  overflow: hidden;
}
.projectHeader h2 {
  transform: translateY(100px);
  opacity: 0;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCard {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}
.projectCard img {
  border-radius: 15px;
  width: 100%;
}
@media (max-width: 768px) {
  .projectCard {
    width: 100%;
  }
}

.credit {
  text-decoration: underline;
}

.credit:hover {
  color: #DC4747;
}

.spartanpantry {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.pantryhome {
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
}

.tempImage {
  width: 100%;
  height: 700px;
  background-color: white;
  margin: 50px 0px;
  border-radius: 15px;
}

.modelInfo {
  width: 40%;
}
@media (max-width: 768px) {
  .modelInfo {
    width: 100%;
  }
}

.modelImgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-top: 70px;
}

.modelImg {
  width: 75%;
}

.pantryBlue {
  background-color: #0067A7;
  color: white;
}

.pantryYellow {
  background-color: #D99800;
}

.arial {
  font-family: "Arial";
}

.hackdavis {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.hackGreen {
  background-color: #69CF72;
}

.hackPink {
  background-color: #E57575;
}

.portfolio {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.colorsContainer {
  position: relative;
  background-color: black;
  padding: 50px;
  border-radius: 15px;
}

.colors {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sandColor {
  background-color: #FAF7EF;
}

.orangeColor {
  background-color: #EA8118;
}

.blueColor {
  background-color: #2E75BC;
}

.greenColor {
  background-color: #40A250;
}

.pinkColor {
  background-color: #E5A1EA;
}

.whiteColor {
  background-color: #FFFFFF;
}

.redColor {
  background-color: #DC4747;
}

.yellowColor {
  background-color: #E6D041;
}

.blackColor {
  color: white;
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: 10px;
}

.pydoku {
  padding-top: 90px;
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.pydokuImg {
  width: 100%;
  border-radius: 15px;
}

.mathship {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.mathshipImgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mathshipHome {
  border-radius: 15px;
  width: 100%;
}

.mathshipImg {
  border-radius: 15px;
  width: 100%;
}

.mathOrange {
  background-color: #F09E41;
}

.mathRed {
  background-color: #E93333;
}

.mathLGreen {
  background-color: #83BF95;
}

.mathDGreen {
  background-color: #2C654E;
}

.maui {
  background: url("https://i.ibb.co/Xzdy8Z4/Mac-Book-Air-1.png") repeat;
  background-color: #FAF7EF;
  padding: 90px 5% 1px 5%;
}

.projectImg {
  width: 100%;
  border-radius: 15px;
  box-shadow: none !important;
}

.mauiTurq {
  background-color: #11DFF0;
}

.mauiGray {
  background-color: #F1F0F0;
}

.mauiTan {
  background-color: #CF9E3E;
}

.mauiPink {
  background-color: #F0B099;
}

.mauiBlue {
  background-color: #5B668B;
}

body {
  font-family: "Mori";
  background-color: #2E75BC;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=styles.css.map */