@use "abstracts";
@use "components";
@use "pages";

body{
    font-family: 'Mori';
    background-color: abstracts.$sandColor;
    padding: 0px 30px;
    margin: 0;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  